<div class="container-fluid banner-background">
  <div class="container-fluid  main-hero">
    <div class="row full-height etter-begravelsen">
      <div class="col main-col mid-c full-height">
        <div class="box">
          <h1>Etter begravelsen</h1>
          <p>Vi er totalleverandør innen begravelse</p>
          <p>Hos oss vil du bli tatt vare på med respekt og verdighet</p>
          <button class="btn">Se begravelse</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="begravelse">
    <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-2 offset-1">
        <div class="page-box">
          <h5>Arv og skifterett</h5>
          <div class="info-img">
            <%= image_tag 'church.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main full-width">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="page-box">
          <h5>Gravstein</h5>
          <div class="info-img">
            <%= image_tag 'boquet.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main full-width">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="page-box">
          <h5>Avdødes digitale liv</h5>
          <div class="info-img">
            <%= image_tag 'church.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main full-width">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="page-box">
          <h5>Minnebok</h5>
          <div class="info-img">
            <%= image_tag 'boquet.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main full-width">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="page-box">
          <h5>Urnenedsettelse</h5>
          <div class="info-img">
            <%= image_tag 'boquet.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main full-width">Les mer</button>
        </div>
      </div>

    </div>   <!-- row -->

</div>  <!-- container-fluid -->
