<div class="container-fluid banner-background">
  <div class="container-fluid main-hero">
    <div class="row full-height main-banner">
      <div class="col main-col mid-c full-height">
        <div class="box text-center">
          <h1>Omsorg ved livets slutt</h1>
          <p>Vi er totalleverandør innen begravelse. Hos oss vil du</p>
          <p> bli tatt vare på med respekt og verdighet</p>
          <%= button_to "Ta kontakt", kontakt_path, :method => 'get', class: 'btn-main' %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

  <div class="container-fluid" id="begravelse">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="page-box">
            <h5>Seremoni</h5>
            <div class="info-img">
              <%= image_tag 'church.jpg', class: 'img-fluid' %>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn-main full-width">Les mer</button>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="page-box">
            <h5>Blomster</h5>
            <div class="info-img">
              <%= image_tag 'boquet.jpg', class: 'img-fluid' %>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn-main full-width">Les mer</button>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="page-box">
            <h5>Seremoni</h5>
            <div class="info-img">
              <%= image_tag 'church.jpg', class: 'img-fluid' %>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn-main full-width">Les mer</button>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="page-box">
            <h5>Blomster</h5>
            <div class="info-img">
              <%= image_tag 'boquet.jpg', class: 'img-fluid' %>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn-main full-width">Les mer</button>
          </div>
        </div>

      </div>   <!-- row -->
    </div>  <!-- container -->
  </div>  <!-- container-fluid -->
<br><br><br>
<div class="container-fluid">
  <div class="container section">

    <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-center"><%= link_to 'Minnesider', obits_path, class: 'text-center link' %></h1>
          <br>

        </div>
        <% @obits.limit(4).each do |obit| %>
          <div class="col-sm-12 col-md-3">
            <div>
              <%= link_to obit_path(obit) do %>
                  <%= image_tag obit.image, class: "img-fluid" %>
              <% end %>
            </div>
            <h5 style="margin-top:3px;"><%= "#{obit.f_name} #{obit.l_name}" %></h5>
            <p style="font-size:12px;"><%= "#{obit.birthday} - #{obit.death_date}" %></p>
            <p><%=  %></p>
          </div>
        <% end %>
    </div>
  </div>
</div>

<br>
<br>

  <div class="container section">
    <div class="row">
      <div class="col-sm-12">
        <div class="flower-banner d-flex align-items-center justify-content-end">
          <div class="flower-text ">
            <h1>Kjøp blomster til begravelsen</h1>
            <p>En siste hilsen med blomster kan bety mer enn tusen ord.<p>
            <p>Få blomster sendt direkte til begravelsen eller til hjemmet</p>
            <button class="btn-main btn-banner">Bestill nå</button>
          </div>
        </div>
      </div>
    </div>
  </div>
