
  <div class="container-fluid main-hero">
    <div class="row full-height main-banner">
      <div class="col main-col mid-c full-height">
        <div class="box">
          <h1>Velkommen til oss</h1>
          <p>Vi er totalleverandør innen begravelse</p>
          <p>Hos oss vil du bli tatt vare på med respekt og verdighet</p>
          <button class="btn">Se begravelse</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

<div class="container-fluid main-container">
  <div class="container obits">
    <h1>Minnesider</h1>
    <div class="row">
        <% @obits.each do |obit| %>
          <div class="col-sm-12 col-md-3 ">
            <div>
              <%= link_to obit_path(obit) do %>
                  <%= image_tag obit.image, class: "img-fluid" %>
              <% end %>
            </div>
            <h3><%= "#{obit.f_name} #{obit.l_name}" %></h3>
            <p><%= "#{obit.birthday} - #{obit.death_date}" %></p>
            <p><%=  %></p>
          </div>
        <% end %>
    </div>
  </div>

  <div class="container flowers">
    <div class="row full-height">
      <div class="col mid-c full-height flower-banner">
        <div class="box">
          <h1>Si farvel med blomster</h1>
          <p>Få blomster sendt direkte til begravelsen. </p>
          <p>Du kan også sende blomster til hjemmet.</p>
          <p>Enklere blir det ikke!</p>
          <button class="btn">Bestill nå</button>
        </div>
      </div>
    </div>
  </div>
</div>
