<div class="container-fluid banner-background">
  <div class="container-fluid  main-hero">
    <div class="row full-height til-begravelsen">
      <div class="col main-col mid-c full-height">
        <div class="box text-center">
          <h1>Ved dødsfall</h1>
          <p>Vi er totalleverandør innen begravelse</p>
          <p>Hos oss vil du bli tatt vare på med respekt og verdighet</p>
          <button class="btn"> <a href="#begravelse">Les mer</a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="begravelse">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="page-box">
          <h5>Seremoni</h5>
          <div class="info-img">
            <%= image_tag 'church.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="page-box">
          <h5>Blomster</h5>
          <div class="info-img">
            <%= image_tag 'boquet.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="page-box">
          <h5>Kister</h5>
          <div class="info-img">
            <%= image_tag 'kiste.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="page-box">
          <h5>Urner</h5>
          <div class="info-img">
            <%= image_tag 'urner.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="page-box">
          <h5>Musikk</h5>
          <div class="info-img">
            <%= image_tag 'piano.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main">Les mer</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="page-box">
          <h5>Transport</h5>
          <div class="info-img">
            <%= image_tag 'chevrolet.jpg', class: 'img-fluid' %>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="btn-main">Les mer</button>
        </div>
      </div>


    </div>   <!-- row -->
  </div>  <!-- container -->
</div>  <!-- container-fluid -->
