<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-10 offset-1 post-form">
      <h1>Nytt innlegg</h1>
      <%= form_for :post, url: posts_path do |f| %>
        <p>
        <%= f.label :tittel %><br />
        <%= f.text_field :title, class: 'form-field form-title' %>
        </p>
        <p>
          <%= f.label :innlegg %><br />
          <%= f.text_area :content, class: 'tinymce form-field form-text' %>
        </p>
        <p>
        <%= f.label :last_opp_bilde %><br>
        <%= f.file_field :image %>
        </p>
        <%= f.submit 'Lagre innlegg', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<%= tinymce %>
