<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Nytt innlegg</h1>
      <%= form_for :post, url: posts_path do |f| %>
        <p>
        <%= f.label :tittel %><br />
        <%= f.text_field :title %>
        </p>
        <p>
          <%= f.label :innlegg %><br />
          <%= f.text_area :body %>
        </p>
        <%= f.submit 'Lagre innlegg', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
