<!DOCTYPE html>
<html>
  <head>
    <title>Byes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

<div class="top-nav full-width text-center">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="#" class="nav-link">Døgnåpen telefon - 70 12 12 55</a>
    </li>
  </ul>
</div>
    <div class="container-fluid main-nav">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="logo-holder">
            <%= link_to root_path do %>
              <%= inline_svg "logo.svg", class: ' logo' %>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ved dødsfall
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Akkut hjelp ved dødsfall</a>
                  <a class="dropdown-item" href="#">Henting av avdøde</a>
                  <a class="dropdown-item" href="#">Priser</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <%= link_to 'Til begravelsen', til_begravelsen_path, class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown'} %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Seremoni</a>
                  <a class="dropdown-item" href="#">Blomster</a>
                  <a class="dropdown-item" href="#">Kister</a>
                  <a class="dropdown-item" href="#">Urner</a>
                  <a class="dropdown-item" href="#">Musikk</a>
                  <a class="dropdown-item" href="#">Transport</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Informasjon
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Avdødes digitale liv</a>
                  <a class="dropdown-item" href="#">Minnesider</a>
                  <a class="dropdown-item" href="#">Blogg</a>
                  <a class="dropdown-item" href="#">Arv og skifte</a>
                  <a class="dropdown-item" href="#">Priser</a>
                </div>
              </li>
                <li class="nav-item">
                  <%= link_to 'Om oss', om_oss_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Kontakt', kontakt_path, class: 'nav-link' %>
                </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

  </body>

    <%= yield %>

      <footer class="footer mid-c">
        <div class="container mid-c">
          <span><%= link_to "® Byes Begravelsesbyrå #{Time.new.year}", root_path, class: 'text-muted' %></span>
        </div>
      </footer>

</html>
