<!DOCTYPE html>
<html>
  <head>
    <title>Byes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <div class="container-fluid main-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg ">
        <div class="logo-holder">
          <%= link_to root_path do %>
            <%= inline_svg "logo.svg", class: ' logo' %>
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Til begravelsen', til_begravelsen_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Etter begravelsen', etter_begravelsen_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Minnesider', obits_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Om oss', om_oss_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Kontakt', kontakt_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>


    <%= yield %>

      <footer class="footer mid-c">
        <div class="container mid-c">
          <span><%= link_to "® Byes Begravelsesbyrå #{Time.new.year}", root_path, class: 'text-muted' %></span>
        </div>
      </footer>

  </body>
</html>
